[submodule "rb-manager"]
	path = rb-manager
	url = https://github.com/redBorder/cookbook-rb-manager.git
[submodule "kafka"]
	path = kafka
	url = https://github.com/redBorder/cookbook-kafka.git
[submodule "zookeeper"]
	path = zookeeper
	url = https://github.com/redBorder/cookbook-zookeeper.git
[submodule "nomad"]
	path = nomad
	url = https://github.com/redBorder/cookbook-nomad.git
[submodule "http2k"]
	path = http2k
	url = https://github.com/redBorder/cookbook-http2k.git
[submodule "druid"]
	path = druid
	url = https://github.com/redBorder/cookbook-druid.git
[submodule "iptables"]
	path = iptables
	url = https://github.com/redBorder/cookbook-iptables.git
[submodule "memcached"]
	path = memcached
	url = https://github.com/redBorder/cookbook-memcached.git
[submodule "pgpool"]
	path = pgpool
	url = https://github.com/redBorder/cookbook-pgpool.git
[submodule "rb-monitor"]
	path = rb-monitor
	url = https://github.com/redBorder/cookbook-rb-monitor.git
[submodule "rb-webui"]
	path = rb-webui
	url = https://github.com/redBorder/cookbook-rb-webui.git
[submodule "secor"]
	path = secor
	url = https://github.com/redBorder/cookbook-secor.git
[submodule "sshd"]
	path = sshd
	url = https://github.com/redBorder/cookbook-sshd.git
[submodule "chef-client"]
	path = chef-client
	url = https://github.com/redBorder/cookbook-chef-client.git
[submodule "cron"]
	path = cron
	url = https://github.com/redBorder/cookbooks-cron.git
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/redBorder/cookbook-logrotate.git
