[submodule "rb-manager"]
	path = rb-manager
	url = git@github.com:redBorder/cookbook-rb-manager.git
[submodule "kafka"]
	path = kafka
	url = git@github.com:redBorder/cookbook-kafka.git
[submodule "zookeeper"]
	path = zookeeper
	url = git@github.com:redBorder/cookbook-zookeeper.git
[submodule "nomad"]
	path = nomad
	url = git@github.com:redBorder/cookbook-nomad.git
[submodule "http2k"]
	path = http2k
	url = git@github.com:redBorder/cookbook-http2k.git
[submodule "druid"]
	path = druid
	url = git@github.com:redBorder/cookbook-druid.git
[submodule "iptables"]
	path = iptables
	url = git@github.com:redBorder/cookbook-iptables.git
[submodule "memcached"]
	path = memcached
	url = git@github.com:redBorder/cookbook-memcached.git
[submodule "pgpool"]
	path = pgpool
	url = git@github.com:redBorder/cookbook-pgpool.git
